/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.fl-page-bar ul.storename { display: inline-block !important;}
.fl-page-bar ul.storename li .phone a span{
	color:#fff ;
	line-height:30px
}
.fl-page {
    width: auto;
    overflow: hidden;
}
.fl-page .fl-page-content > .fl-content-full.container{
    width: 100%;
    max-width: 100%;
}
.fl-content{
    margin-top: 0;
}
.fa-youTube:before {
    content: "\f167";
}
/* Menu */
.fl-page-header-primary .fl-page-nav-col{
    display: flex;
    align-items: center;
    text-align: right;
    flex-direction: row;
}
.fl-page-header-primary .fl-page-nav-col .fl-page-nav-wrap{
    width: 100%;
}
.fl-page-header-primary .fl-page-nav-col .fl-page-nav-wrap .fl-page-nav{
    align-items: flex-end;
}
.fl-page-nav ul.sub-menu{
    background: #384e77;
    border-color: #fff;
}
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav ul.sub-menu li>a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav ul.sub-menu li>a:focus{
    color: #8bbeb2;
}
.navbar .nav .menu-item-has-children>a:after{
    margin-left: 8px;
}
.fl-page-nav .navbar-nav .sub-menu,
.fl-page-nav .navbar-nav .sub-menu a{
    font-size: 16px;
    text-transform: none;
}

.fl-page-nav-wrap .navbar-nav li>a:hover, .fl-page-nav-wrap .navbar-nav li>a:focus,
.fl-page-nav ul.sub-menu li a:hover, .fl-page-nav ul.sub-menu li a:focus{
    color:#8bbeb2;
}
.fl-page-nav-wrap .navbar-nav li.current-menu-ancestor>a, .fl-page-nav-wrap .navbar-nav li.current-menu-parent>a, .fl-page-nav-wrap .navbar-nav li.current-menu-item>a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-ancestor>a, .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-parent>a, .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item>a{
    color:#8bbeb2;
}
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav ul.sub-menu li>a{
    color: #fff!important;
}
/* Top Bar */
.fl-page-bar{
    font-family: "Archivo Narrow",sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.fl-page-bar a{
    color: #fff;
}
.fl-page-bar a:hover{
    color: #8abeb2;
}

.footermenu .menu-item a{
    color: #FBFBFB;
    font-family: Roboto;
    font-size: 12px;
    line-height: 23px;
}
.home-tab .fl-tabs-labels{
    background-color: #384E77;
}
.njba-tabs-panel-content {
    padding: 0;
}

.tabReverce .njba-tab-section-main{
    display: flex;
    flex-direction: column-reverse;
}
.tabCenter  .njba-tabs-nav{
    display: flex;
    justify-content: center
}

/* Slider Dots */
.fl-module-content-slider .bx-wrapper{
    margin-bottom: 0;
}
.fl-module-content-slider .bx-wrapper .bx-pager{
    bottom: 20px;
    padding: 0;
    z-index: 5;
}
.fl-module-content-slider .bx-wrapper .bx-pager .bx-pager-item a{
    background: #fff;
    border:2px solid #fff;
    width: 12px;
    height: 12px;
}
.fl-module-content-slider .bx-wrapper .bx-pager.bx-default-pager a.active,
.fl-module-content-slider .bx-wrapper .bx-pager.bx-default-pager a:focus,
.fl-module-content-slider .bx-wrapper .bx-pager.bx-default-pager a:hover{
    background: transparent;
}

/* Home page Brands Slider */

.home-brand-slider .fl-content-slider .fl-slide-bg-photo:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
}
.home-brand-slider .fl-content-slider .fl-slide-foreground{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.fl-page-nav-right.fl-page-header-fixed .fl-page-nav ul.sub-menu, .fl-page-header-fixed .fl-page-nav ul.sub-menu{
	background:#384e77;
}

.facetwp-template .product-grid .product-row .col-md-4:nth-child(3n+1){
    clear: left;
}
.facetwp-template .product-grid .product-row .col-md-3:nth-child(4n+1){
    clear: left !important;
}

.product-detail-layout-5 .product-box .button-wrapper .button{
    background-color: #D4C9C2;
    border:  1px solid #D4C9C2;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: "PT Sans Narrow";
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    text-align: center;
}

.product-detail-layout-5 .product-box .button-wrapper .button:hover{
    background-color: #ffffff;
    color: #767676;
}

.product-detail-layout-5 .product-box .button-wrapper .button.alt{
    background-color: #8BBEB2;
    border:  1px solid #8BBEB2;
    border-radius: 3px;
}

.product-detail-layout-5 .product-box .button-wrapper .button.alt:hover{
    background-color: #ffffff;
}

.schedule-appointment .widgettitle{
    color: #ffffff;
    text-align: center;
}

.fl-post-grid-gallery{
    min-height: 300px;
    
}

.schedule-apoint-header{
    background: #8abeb2;
    color:#fff!important;
    text-transform: uppercase;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 3px;
    transition: all 0.3s;
    font-weight: bold;
}
.fl-page-nav-wrap .nav .menu-item-has-children:hover > .sub-menu{
    left: 0;
}
.fl-page-nav-wrap .nav .sub-menu .menu-item-has-children:hover > .sub-menu{
    left: 100%;
}

#menu-main-menu-1{
    text-align: center;
    width: 100%;
}

#menu-main-menu-1 li{
    display: inline-block;
    float: none;
}

#menu-main-menu-1 li ul li{
    display: block;
}

#menu-main-menu-1 li ul li a{
    text-align: left;
    text-transform: uppercase;
}
#menu-main-menu-1 li a {    
    padding: 15px 20px;
}
#menu-main-menu-1 li ul li a{
    padding: 8px 15px!important;
}
.fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a, .fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a{
    padding: 10px 12px;
    font-size: 95%;
}
.schedule-apoint-header:hover{
    background: #384e77;
    text-decoration: none;
}
.active-gallery-modal .product-box .fl-button{ padding: 8px 15px; display: block; text-align: center; max-width: 220px; text-decoration: none;}

.fl-submenu-indicator .fl-page-nav ul.navbar-nav>li.menu-item-has-children>a:after{ margin-top:0;}

html.responsive-menu-open{ overflow-y: hidden;}
.dashed-border .uabb-photo-img { border: 4px dashed #8abeb2;}
.cta-wrap .fl-cta-title{ padding-bottom: 0;}
.cta-wrap .fl-button-wrap{ text-align: right;}
.cta-wrap .fl-button-wrap a.fl-button{ display: inline-block; }

.active-gallery-modal .product-box .fl-button:last-child{ display: none;}

.fl-page-bar .text-right a{
    font-size: 30px!important;
    font-weight: bold;
}


body .gform_wrapper ul li.gfield,
.gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half{
    padding-right: 10px!important;
}

body .gform_wrapper ul li.gfield input,
.gform_wrapper .top_label li.gfield.gf_left_half input, .gform_wrapper .top_label li.gfield.gf_right_half input{
    width: 100%;
}

body .gform_wrapper ul li.gfield .gfield_time_ampm select{
    width: 81px!important;
    max-width: 81px!important;
}
body .gform_wrapper .top_label.gfield_time_minute,
body .gform_wrapper .top_label.gfield_time_hour,
.gform_wrapper .gfield_time_hour,
.gform_wrapper .gfield_time_minute {
    max-width: 60px!important;
    padding: 0 2.5px;
    width: 100%!important;

}
body .gform_wrapper .top_label.gfield_time_minute input,
body .gform_wrapper .top_label.gfield_time_hour input{
    width: 50px!important;
    
}

.gform_wrapper .gfield_time_hour i{
    margin-top:-3px!important;
}
@media(max-width:1024px){
    .fl-page-nav .navbar-nav a{
        font-size: 15px;
    }
}
@media(min-width:768px){
	.fl-page-nav-search{
		position:static;
	}
	.fl-page-nav-search form{
		width:100%;
		left:0;
		right:0;
	}
	.fl-page-nav-search a.fa-search{
		padding:12px 10px;
    }
    .fl-page-bar .text-right a{
        font-size: 16px!important;
    }
    .fl-page-bar ul.storename li .phone a span{
        line-height: 18px!important;
    }
    .fl-page-bar-text{
        padding: 0px!important;
    }
    .fl-page-bar-text ul.storename{
        margin-bottom: 0px;
    }
}

@media(max-width:1280px){
    #menu-main-menu-1 li a {    
        padding: 15px;
    }
}
@media(max-width:1180px){
    #menu-main-menu-1 li a{
        padding: 15px 7px;
    }
    #menu-main-menu li a{
        padding: 15px 7px;
            font-size: 12px;
    }
    #menu-main-menu-1 li ul li{
        display: block;
    }
    #menu-main-menu li ul li a{
        color: #fff!important;
        text-transform: uppercase;
    }
}

@media(max-width:992px){
    .fl-page-nav-bottom .fl-page-header-row{ display:block;}
    .fl-page-nav-bottom .fl-page-header-row .col-sm-6{ width: 100%; display: block;}
    .fl-page-nav-bottom .fl-page-header-row .fl-page-header-logo{ text-align: center;}
    .fl-page-nav-bottom .fl-page-header-content .fl-page-header-text{ margin: 10px 0; text-align: center;}
    .fl-page-nav-bottom .fl-page-header-content .fl-page-header-text .schedule-apoint-header{ font-size: 14px; display: inline-block; text-align: center;}

    #responsive-menu-container #responsive-menu-title{ text-align: center!important;}
}

@media (max-width: 820px) {
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group {
        display: flex;
        flex-wrap: wrap;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child {
        width: 100% !important;
        order: -1;
        max-width: none;
        border-bottom: 1px solid #fff;
        padding-bottom: 20px;
    }
}
@media(max-width:768px){
    .fl-col-small{ max-width: none;}
    .fl-page-bar .fl-page-bar-text{
        font-size:13.5px;
    }
    #menu-copyright-bar-menu{
        text-align: center;
        width: 100%;
        display: block;
    }
    #menu-copyright-bar-menu li{
        display: inline-block;

    }
    .product-variations .slick-slider .slick-arrow{
        top: 30%!important;
    }
}
@media(max-width:767px){
    button#responsive-menu-button{ top: 85px;}
    body.admin-bar button#responsive-menu-button{ top: 125px;}

    .fl-page-bar .fl-page-bar-nav{ display: none;}
    .fl-page-header-logo{ padding: 0 45px;}
    #menu-copyright-bar-menu{ text-align: center;}
    #menu-copyright-bar-menu li{ display: inline-block; vertical-align: top; }
    .products-wrap-main .fl-col-content .fl-module-info-box .uabb-infobox-left-right-wrap{
        background: #f3f3f3;
        padding-top: 10px;
    }
    .products-wrap-main .fl-col-content .fl-module-info-box .uabb-infobox-left-right-wrap .uabb-image{
        text-align: center!important;
    }
    button#responsive-menu-button{
        top: 108px!important;   
    }
}
@media (max-width:699px){
    .active-gallery-modal .product-box .fl-button{ margin: 0 auto;}
}
@media (max-width:479px){
    .active-gallery-modal{ width: 90%; left: 0; right: 0; margin: 0 auto;}
    #menu-copyright-bar-menu li a{ padding: 5px;}
}
